@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

$colors: (
  //Primary
  bright_blue: (220, 98%, 61%),
  check_bg: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%),
  //Light
  vlight_gray: hsl(0, 0%, 98%),
  vlight_grayishblue: hsl(236, 33%, 92%),
  light_grayishblue: hsl(233, 11%, 84%),
  dgrayish_blue: hsl(236, 9%, 61%),
  vdarkgrayish_blue: hsl(235, 19%, 35%),
  //Dark
  vdark_blue: hsl(235, 21%, 11%),
  vdark_desaturatedblue: hsl(235, 24%, 19%),
  light_grayishblue_hover: hsl(236, 33%, 92%),
  darkgrayish_blue: hsl(234, 11%, 52%),
  verydark_grayishblue: hsl(233, 14%, 35%),
  vd_gb: hsl(237, 14%, 26%)
);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Josefin", sans-serif;
}

body {
  background-color: map-get($colors, vdark_blue);
}

.bg {
  background-image: url("../images/bg-desktop-dark.jpg");
  background-size: cover;
  height: 50vh;
}

.card {
  background-color: transparent;
  margin-top: -200px;
  border: none;
  outline: none;
  margin-bottom: 150px;
}

.card-header {
  width: 500px;
  border: none;
  outline: none;
  

  h1 {
    color: white;
    letter-spacing: 1rem;
  }

  a {
    margin-top: 10px;
    text-decoration: none;
  }
}

.card-body {
  width: 500px;
  background-color: map-get($colors, vdark_desaturatedblue);
  border-radius: 10px;
  margin-top: 30px;
  padding: 10px !important;

  .add {
    font-size: 25px;
    cursor: pointer;
    transition: all 200ms;
    color: white;
    will-change: transform;

    :hover {
      transform: rotate(180deg);
    }
  }

  .radio-container {
    display: block;
    position: relative;
    padding-left: 55px;
    cursor: pointer;
    user-select: none;

    input[type="radio"] {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }

    .checkmark {
      position: absolute;
      top: 10%;
      left: 3%;
      height: 25px;
      width: 25px;
      background-color: map-get($colors, vdark_desaturatedblue);
      border-radius: 50%;
      border: 1px solid map-get($colors, darkgrayish_blue);
    }

    input[type="text"] {
      width: 350px;
      height: 30px;
      background-color: map-get($colors, vdark_desaturatedblue);
      outline: none;
      border: none;
      color: white;
    }
  }
}

.card-footer {
  width: 500px;
  background-color: map-get($colors, vdark_desaturatedblue);
  border-radius: 10px !important;
  margin-top: 30px;
  padding: 0 !important;
  box-shadow: 5px 0 30px black;

  .radio-container {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    user-select: none;
    margin-top: 10px;
    border-bottom: 1px solid map-get($colors, darkgrayish_blue);

    input[type="radio"] {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }

    .checkmark {
      position: absolute;
      top: 10%;
      left: 0;
      height: 25px;
      width: 25px;
      background-color: map-get($colors, vdark_desaturatedblue);
      border-radius: 50%;
      border: 1px solid map-get($colors, darkgrayish_blue);
      margin: 0 25px;
    }

    input[type="text"] {
      width: 400px;
      height: 30px;
      background-color: map-get($colors, vdark_desaturatedblue);
      outline: none;
      border: none;
      color: white;
      padding: 20px 0;
      cursor: pointer;
    } 
  }

  label:first-child {
    input[type="text"]::placeholder {
      text-decoration: line-through;
      color: map-get($colors, vdarkgrayish_blue);
    }
  }

  .radio-container:hover input[type="radio"] ~ .checkmark {
    border-color: map-get($colors, verydark_grayishblue);
  }

  .radio-container input[type="radio"]:checked ~ .checkmark {
    background-image: linear-gradient(
      to right,
      hsl(192, 100%, 67%),
      hsl(280, 87%, 65%)
    );
  }

  .checkmark::after {
    content: "";
    position: absolute;
    display: none;
  }

  .radio-container input[type="radio"]:checked ~ .checkmark::after {
    display: block;
  }

  .radio-container .checkmark::after {
    top: 5px;
    left: 5px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-image: url("../images/icon-check.svg");
    background-size: cover;
  }

  p {
    color: map-get($colors, vdarkgrayish_blue);
    font-size: 15px;
  }

  .link {
    $tablet: 769px;
    
    @media only screen and (max-width: $tablet) {
      display: none;
    }
  }

  button {
    background: transparent;
    border: none;
    font-size: 15px;
    color: map-get($colors, vdarkgrayish_blue);
    text-decoration: none;
  }

  button:hover {
    color: hsl(192, 100%, 67%);
  }

  button:focus {
    outline: none!important;
  }
}

.info {
  margin-top: 30px;
  color: map-get($colors, vdarkgrayish_blue);
}

.links-mobile {
  width: 500px !important;
  margin-top: 30px;
  border-radius: 10px;
  padding: 1em;
  background-color: map-get($colors, vdark_desaturatedblue);

  $tablet: 768.5px;
    @media only screen and (min-width: $tablet) {
      display: none!important;
    }

  button {
    background: transparent;
    border: none;
    font-size: 15px;
    color: map-get($colors, vdarkgrayish_blue);
    margin: 0 15px;
  }

  button:hover {
    color: hsl(192, 100%, 67%);
  }

  button:focus {
    outline: none;
  }
}
